@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*** General styles ***/
html, body {
    background-image: url("./images/white_wall_bg.png");
}

html, body, input {
    font-family: 'Verdana', 'Open Sans', sans-serif;
    font-size: 9pt;
}

input[type=text],
input[type=password],
input[type=date],
input[type=number] {
    border: 1px solid #aaa;
    padding: 8px;
}

input[type=button] {
    outline: none;
    padding: 8px;
    border: 1px solid #003D99;
    background-color: #71A9FF;
    box-shadow: 0px 1px 1px #3E76CC;
    text-shadow: 0 1px 1px #555;
    color: #fff;
    font-weight: bold;
}

input[type=button]:hover, input[type=button]:focus {
    background-color: #5A87CC;
}

input[type=button]:active {
    background-color: #9CC3FF;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=number]:focus {
    outline: none;
    border-color: #7BA350;
    box-shadow: 0px 0px 8px #b0e973;
}

input[type=search]:focus {
    outline: none;
    border-color: #b0e973;
    box-shadow: 0px 0px 8px #b0e973;
}
/*** End General styles ***/

/*** Header background ***/
#header {
    width: 100%;
    height: 150px;
    background-image: url("./images/header_banner.png");
    position: absolute;
    top: 0;
    z-index: 1;
}
/*** End Header background ***/

#logo_icon {
    width: 105px;
    height: 100px;
}

#logo_text {
    font-size: 28px;
    font-weight: bold;
    color: #37910f;
    text-shadow: 0px 1px 0px #6fbf2b;
}

/*** All this bullshit just to get vertical alignment... ***/
.header_outer {
    height: 100px;
    overflow: hidden;
    display: table;
    position: static;
}

.header_middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: static;
}

.header_inner {
}
/*** End vertical alignment for Header ***/

/*** Navigation bar ***/
#navbar {
    list-style: none;
    text-align: justify;
    width: 100%;
    line-height: 100px;
    height: 100px;
}

#navbar li {
    display: inline;
    padding: 2px 5px 2px 5px;
    margin: 0;
    text-align: center;
}

#navbar li a {
    border: 1px solid #336E12;
    padding: 12px;
    color: #404236;
    box-shadow: 0 0 2px #3B9412;
    text-shadow: 0 1px 0px #777;
    text-decoration: none;
    font-weight: bold;
}

#navbar li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #efe;
    text-shadow: 0 1px 0px #000;
}

#navbar .stretch {
    display: inline-block;
    width: 100%;
    *display: inline; /* freaking IE hacks... */
    /*zoom: 1;*/ /* why was this here? and taken out? */
}

#navbar input[type=button] {
    outline: none;
    box-shadow: none;
    background-color: green;
    border: 0;
    background-image: url("./images/nav_button_enabled.png");
    color: #222;
    text-shadow: 0px 1px 2px #aaa;
    width: 80px;
    height: 32px;
}

#navbar input[type=button]:hover {
    background-image: url("./images/nav_button_hover.png");
}

#navbar input[type=button]:active {
    background-image: url("./images/nav_button_active.png");
}
/*** End Navigation bar ***/

/*** User info box ***/
#user_info {
    text-align: right;
    padding-right: 10px;
    position: relative;
    z-index: 3;
    color: #eee;
}

#user_info_banner {
    background-image: url("./images/user_info_banner.png");
    width: inherit;
    height: 175px;
    position: absolute;
    top:0;
    z-index: 2;
}
/*** End User info box ***/

/*** Sidebox ***/
.sidebox {
    padding-bottom: 6px;
}

.sidebox_header {
    padding: 10px;
    margin-bottom: 4px;
    text-indent: 1.5em;
    color: #555;
    font-size: 12pt;
    font-weight: bold;
    text-shadow: 0px 1px 0px #fff;
}

.sidebox_subheader {
    text-indent: 1.25em;
    font-weight: bold;
}

.sidebox_label {
    float:left;
    font-style: italic;
    color: #555;
}
.sidebox_value {
    float: right;
    color: #555;
}

.sidebox_pace {
    text-align: right;
}
/*** End Sidebox ***/

/*** Search box ***/
#search_box #search_bar {
    text-align: center;
}

#search_box input[type=search] {
    padding: 4px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.search_item {
    margin: 6px;
    padding: 4px;
}
/*** End Search box ***/

/*** Summary box ***/
.summary_item {
    margin: 6px;
    padding: 4px;
}
/*** End Summary box ***/

/*** Graph ***/
.graph_title {
    margin: 10px 0;
    text-align: center;
}

.graph {
    background-image: url("./images/map.png");
    width: 147px;
    height: 82px;
    margin: 0 auto;
}
/*** End Graph ***/

/*** Content tabs ***/
#content_tab_labels {
    border-bottom: 1px solid #ccc;
    padding: 7px 8px;
}

#content_tabs label {
    background: #eee;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-radius: 2px;
    padding: 10px;
}

#content_tabs label:hover {
    background: #ddd;
}

#content_tabs label.active {
    background: #fff;
}
/*** End Contant tabs ***/

/*** Content ***/
.content {
    border-radius: 2px;
    display: none;
    margin-top: 10px;
    padding: 10px;
}

.content.active {
    display: block;
}

.placeholder {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}
/*** End Content ***/

/*** Diet & Exercise Entries ***/
.diet_entry, .exercise_entry {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0px;
}

.diet_entry:hover, .exercise_entry:hover {
    border-color: #b0e973;
    box-shadow: 0px 0px 8px #b0e973;
}

.diet_entry .calories, .exercise_entry .calories {
    font-size: 24px;
    font-weight: bold;
    color: #8DBA5C;
}

.diet_entry .comment, .exercise_entry .comment {
    text-indent: 20px;
}

.diet_entry .date, .exercise_entry .date {
    position: absolute;
    top: 10px;
    right: 10px;
}

.diet_entry .delete {
    display: none;
    text-align: right;
}

.diet_entry .delete input[type=button],
.exercise_entry .delete input[type=button] {
    border: 1px solid #E81100;
    background-color: #FF6E63;
    box-shadow: 0px 1px 1px #FF4A3C;
    font-size: 10px;
    padding: 6px;
}

.diet_entry .delete input[type=button]:hover,
.diet_entry .delete input[type=button]:focus,
.exercise_entry .delete input[type=button]:hover,
.exercise_entry .delete input[type=button]:focus {
    background-color: #E9524E;
}

.diet_entry .delete input[type=button]:active,
.exercise_entry .delete input[type=button]:active {
    background-color: #FF9295;
}

/*** End Diet & Exercise Entries ***/

/*** Footer ***/
#footer {
    background: #eee;
    margin: 24px;
    padding: 24px;
    text-align: center;
}
/*** End Footer ***/

/*** Home Page ***/
#home_create_account_div {
    text-align: center;
    margin-top: 50px;
}

#home_create_account_div #anon_create_account_link {
    font-size: 26px;
}
/*** End Home Page ***/

/*** Login Page ***/
input.error {
    box-shadow: 0px 0px 8px red;
}

#create_account_box > input[type=text], 
#create_account_box > input[type=password],
#create_account_box > input[type=date] {
    width: 160px;
}
/*** End Login Page ***/

/*** Diet Page ***/
#total_calories {
    padding-bottom: 1.5em;
    text-align: center;
}

#total_calories h3 {
    display: inline;
    color: #8DBA5C;
}

#total_calories sub {
    color: #777;
}

#diet_table {
    width: 100%;
    font-size: 12pt;
    border-collapse: separate;
    border-spacing: 0.0em 0.7em;
    border-bottom: 1px solid #CCC;
    margin-bottom: 2.7em;
    padding-bottom: 2.0em;
}

#diet_table .calories {
    width: 68px;
    text-align: right;
}

#diet_table .calories_label {
    width: 68px;
    text-align: right;
    color: #777;
    text-shadow: 0 1px 0 #EEE;
}

#diet_table .monthly_total .sign,
#diet_table .monthly_total .calories {
    border-bottom: 1px solid #AAA;
}

#diet_table .calories_togo .calories {
    font-weight: bold;
    text-shadow: 0 1px 0 #EEE;
}

#diet_entry_form {
    border: 1px solid #ccc;
    padding: 12px;
    box-shadow: 0 0 4px #ddd;
}

#diet_entry_form label {
    display: block;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 12px;
    text-indent: 8px;
    color: #555;
    text-shadow: 0 1px 0px #fff;
}

#diet_entry_form .info_message {
    margin-top: 12px;
    text-indent: 8px;
}
/*** End Diet Page ***/
